

  body {
	background-color:#f0f1f8;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
    
}
 .main {
     width: 80%;
     align-content: center;
     color: #fff;
     background-color:#2a3698;
    
 }
 .question {
     color: goldenrod;
     padding-top: 15px;
 }

 .timer {
     color: #fff;
 }